ion-item {
  --ion-background-color: white;
  --ion-text-color: black;
}

input.date-width {
  background-color: white;
  color: black;
}

.font-size-12 {
  color: black;
}

mat-datepicker-toggle {
  color: black;
}
