<ion-header class="nube-header">
  <ion-toolbar>
    <ion-title>Pregunta Secreta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="center-container">
    <div class="form-container">
      <ion-title class="small-title">Paso 2: Responde la pregunta secreta</ion-title>
      <form (ngSubmit)="verificarRespuesta()">
        <hr>
        <ion-title class="small-title">Hola {{ nombreUsuario }}</ion-title>

        
        <ion-item>
          <ion-label>
            {{ preguntaSecreta }}
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Respuesta</ion-label>
          <ion-input [(ngModel)]="respuestaIngresada" name="respuesta" required></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit">Verificar</ion-button>
      </form>
    </div>
  </div>
</ion-content>
