<app-header></app-header>

<ion-content [fullscreen]="true">

  <!-- El div con id "mapId" será donde se mostrará el mapa -->
  <div id="mapId" style="height: 100%;"></div>

</ion-content>

<app-footer></app-footer>

<ion-footer>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-button shape="round" color="secondary" size="small"
        (click)="goToDUOC()" >
      DUOC
    </ion-button>

    <ion-button shape="round" color="secondary" size="small"
        (click)="goToMyPosition()">
      Aquí
    </ion-button>

    <ion-button shape="round" color="secondary" size="small"
        (click)="showRouteToDuoc()">
      Ruta
    </ion-button>

    <div *ngIf="distance">
      <br>
      {{ distance }}
    </div>
  </ion-toolbar>
</ion-footer>